{# {% extends '::base.html.twig' %} #}

{% block menu %}
  <nav class="nav nav-pills nav-stacked" id="nav-sup"><!--navbar navbar-inverse-->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('intranet_translation')}}"><b>{% trans %}Lang{% endtrans %}</b></a></li>
        <li><a href="{{ path('intranet_settings')}}"><span class="glyphicon glyphicon-user"></span> {% trans %}Settings{% endtrans %}</a></li>
        <li><a href="{{ path('intranet_logout')}}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
      </ul>
    </div>
  </div>
  </nav>


  
<!--*********************************************************************************************************************-->



<div class="container-fluid col-md-2" id="nav-left">
  <ul class="nav nav-pills nav-stacked"><!--horizontal: nav-justified-->
    <li><a></a></li>
    <li><a href='{{ path('intranet_forms')}}'>{% trans %}Forms {% endtrans %}<i></i></a></li>
    {% if user.onboard==1 %}
            <li><a href='{{ path('intranet_tasks')}}'>{% trans %}Task {% endtrans %}-<i> internships</i></a></li>
    {% endif %}
    {% if role!="test"%}
            <li><a href='{{ path('intranet_userManagement')}}'>{% trans %}User Management {% endtrans %}-<i> admins</i></a></li>
    {% endif %}
    {% if role!="test"%}
            <li><a href='{{ path('intranet_news')}}'>{% trans %}News Feed {% endtrans %}-<i> BÜOs</i></a></li>
            <li><a href='{{ path('intranet_channels')}}'>{% trans %}Channels {% endtrans %}-<i> BÜOs</i></a></li>
    {% endif %}
        
    {% if role!="test"%}
            <li><a href='{{ path('intranet_incomingForms')}}'>{% trans %}Form Management {% endtrans %}-<i> BÜOs</i></a></li>
          
    {% endif %}
  </ul>
</div>
  {% endblock %}
