{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<script>
    var app = angular.module('MyApp',['ngRoute', 'ngMaterial', 'ngMessages', 'material.svgAssetsCache', 'ngMdIcons']);
    app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
    app.controller('incomingsController', incomingsController);
    
    function incomingsController($scope, $mdDialog, $http){

      $scope.allForms = [];

      $scope.filters = {
                    formType: 'All',
                    formStatus: 3
       };

        $scope.getAll = function(){
          $http({
                method: 'GET',
                url: window.location.pathname+'/../../api/forms',
                dataType: 'json',
                headers: {'Content-Type': 'application/json'}
            })
            .then(function success(response){
                $scope.hoursList = response.data.hoursList;
                $scope.usershoursList = response.data.usershoursList;
                $scope.hoursdataList = response.data.hoursdataList;
                $scope.dataList = response.data.dataList;
                $scope.usersList = response.data.usersList;
                $scope.vacationsList = response.data.vacationsList;
                $scope.usersvacationsList = response.data.usersvacationsList;
                $scope.expensesList = response.data.expensesList;
                $scope.usersexpensesList = response.data.usersexpensesList;
                $scope.tripsList = response.data.tripsList;
                $scope.userstripsList = response.data.userstripsList;
                $scope.homesList = response.data.homesList;
                $scope.usershomesList = response.data.usershomesList;


                $scope.daysOnOvertimeHoursForms = response.data.daysOnOvertimeHoursForms;


                $scope.filteredFormsList = gimmeAll();
            }, function error(response){
                console.log("Error:" +response.statusText);
            });
        }

        $scope.$watchGroup(['filters.formType', 'filters.formStatus'], function(){
            $scope.filteredFormsList = [];
            if($scope.filters.formType === "All" && $scope.filters.formStatus == 3){
                $scope.filteredFormsList = gimmeAll();
            }else if($scope.filters.formType === "All" && $scope.filters.formStatus != 3){
                $scope.filteredFormsList = gimmeAll();
                $scope.filteredFormsList = filterFormsByStatus($scope.filteredFormsList, $scope.filters.formStatus);
            }else{

                switch($scope.filters.formType){
                    case 'Vacation':
                        $scope.filteredFormsList = filterFormsByStatus($scope.vacationsList, $scope.filters.formStatus);
                        break;
                    case 'Expenses':
                        $scope.filteredFormsList = filterFormsByStatus($scope.expensesList, $scope.filters.formStatus);
                        break;
                    case 'BusinessTrip':
                        $scope.filteredFormsList = filterFormsByStatus($scope.tripsList, $scope.filters.formStatus);
                        break;
                    case 'OvertimeHours':
                        $scope.filteredFormsList = filterFormsByStatus($scope.hoursList, $scope.filters.formStatus);
                        break;
                    case 'WorkAtHome':
                        $scope.filteredFormsList = filterFormsByStatus($scope.homesList, $scope.filters.formStatus);
                        break;
                    default:
                        $scope.filteredFormsList = filterFormsByStatus($scope.formsList, $scope.filters.formStatus);
                        break;
                }
            }

        });

        function gimmeAll(){
          var formsListOutput = [];

          $.each($scope.hoursList, function(index, currentForm){
            formsListOutput.push(currentForm);    
          });
          $.each($scope.vacationsList, function(index, currentForm){
            formsListOutput.push(currentForm);    
          });
          $.each($scope.expensesList, function(index, currentForm){
            formsListOutput.push(currentForm);    
          });
          $.each($scope.tripsList, function(index, currentForm){
            formsListOutput.push(currentForm);    
          });
          $.each($scope.homesList, function(index, currentForm){
            formsListOutput.push(currentForm);    
          });

          return formsListOutput;
        }

        function filterFormsByStatus(currentTypeFormList, status){

            var formsListOutput = [];

            if (status == 3)
                formsListOutput = currentTypeFormList;
            else{
                $.each(currentTypeFormList, function(index, currentForm){
                    if (currentForm.status == status)
                        formsListOutput.push(currentForm);
                });
            }

            return formsListOutput;
        }

        $scope.showFormDetails = function(ev, form) {
            var datos = [];
            var user = null;
            if (form.type == "OvertimeHours"){
            
                $.each($scope.hoursdataList, function(index, intermediate){
                    if (intermediate.id_form == form.id){
                        $.each($scope.dataList, function(index, dat){
                            if (dat.id == intermediate.id_data){
                                datos.push(dat);
                            }
                        });
                    }
                });

                
                $.each($scope.usershoursList, function(index, intermediate){
                    if (intermediate.id_form == form.id){
                        $.each($scope.usersList, function(index, u){
                            if (u.login == intermediate.login){
                                user = u;
                            }
                        });
                    }
                });

            }

            $mdDialog.show({
                templateUrl: "{{ path('intranet_forms_main_dialog2')}}",
                locals: {
                    currentForm: form,
                    daysOnOvertimeHoursForm: datos,
                    user: user
                },
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose: true,
                controller: dialogController,
                onRemoving: $scope.getAll
            });
        }

        function dialogController($scope, $mdDialog, currentForm, daysOnOvertimeHoursForm, user){
                $scope.form = currentForm;
                $scope.user = user;

                switch($scope.form.type){
                    case "Expenses":
                        $scope.currentTemplateForm = "{{ path('intranet_forms_dialog_expenses')}}";markAsRead();
                        break;
                    case "OvertimeHours":
                        $scope.currentTemplateForm = "{{ path('intranet_forms_dialog_overtime_hours')}}";markAsRead();
                        $scope.daysList = daysOnOvertimeHoursForm;
                        break;
                    case "Vacation":
                        $scope.currentTemplateForm = "{{ path('intranet_forms_dialog_vacation')}}";markAsRead();
                        break;
                    case "BusinessTrip":
                        $scope.currentTemplateForm = "{{ path('intranet_forms_dialog_business_trip')}}";markAsRead();
                        break;
                    case "WorkAtHome":
                        $scope.currentTemplateForm = "{{ path('intranet_forms_dialog_work_at_home')}}";markAsRead();
                        break;
                }

                $scope.closeDialog = function() {
                    $mdDialog.hide();
                }

                $scope.changingStatus = function(status){
                    
                    //form filter status legend
                    //0 -> Pending
                    //1 -> Accepted
                    //2 -> Rejected
                    //3 -> All

                    $http({
                            method: 'PATCH',
                            url: window.location.pathname+'/../../api/formsstatus/'+$scope.form.id,
                            data: {
                                type: $scope.form.type,
                                status: status
                            },
                            contentType: 'application/json',
                            dataType: 'json',
                            headers: {'Content-Type': 'application/json'}
                        })
                        .then(function success(response){
                            console.log("Party time at changing status: "+status);
                            $scope.closeDialog();
                        }, function error(response){
                            console.log("Error:" +response.statusText);
                        }
                    );
                }

                function markAsRead(){
                    $http({
                            method: 'PATCH',
                            url: window.location.pathname+'/../../api/formsread/'+$scope.form.id,
                            data: {
                                form: $scope.form,
                                type: $scope.form.type,
                            },
                            contentType: 'application/json',
                            dataType: 'json',
                            headers: {'Content-Type': 'application/json'}
                        })
                        .then(function success(response){
                            console.log("El formulario está siendo leído");
                        }, function error(response){
                            console.log("Error:" +response.statusText);
                        }
                    );
                }
                
        }
      
      $scope.deleteForm = function(ev, form){
          $mdDialog.show({
              templateUrl: "{{path('intranet_delete_dialog')}}",
              locals: {
                  currentForm: form
              }, 
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose: true,
              controller: deleteFormDialogController,
              onRemoving: $scope.getAll
          });
      }
   }    

   function deleteFormDialogController($scope, $mdDialog, $http, currentForm){
                $scope.form = currentForm;
                
                $scope.closeDialog = function(){
                    $mdDialog.hide();
                 };

               $scope.delete=function(){
                    $http({
                        method: 'DELETE',
                        url: window.location.pathname+'/../../api/forms/',
                        data: {
                                form: $scope.form,
                                type: $scope.form.type,
                                id: $scope.form.id
                            },
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                         $scope.closeDialog();
                    }, function error(response){
                        console.log("Error al delete:" +response.statusText);
                    });  
                 };   
            } 
    </script>

<div ng-app="MyApp" ng-controller="incomingsController" ng-init="getAll()" ng-cloak">
    <md-content layout="row" layout-align="center start">
        <md-list flex-gt-xs="60" style="overflow: auto;">
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-list-item style="font-size: large">
                <span style="width: 30%">{% trans %}type_form{% endtrans %}</span>
                <span style="width: 40%; margin-left: 10%;">{% trans %}date_set_form{% endtrans %}</span>
                <span style="width: 40%">{% trans %}status_form{% endtrans %}</span>
            </md-list-item>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <div ng-repeat="form in filteredFormsList track by $index">
                <md-list-item  aria-label="horse" ng-click="showFormDetails($event, form)">
                    <div style="width: 30%">
                      <span ng-if="form.isread == 0" style="font-weight:bold;">{[{form.type}]}</span>
                      <span ng-if="form.isread == 1">{[{form.type}]}</span>
                    </div>
                    <div style="width: 40%">
                      <span ng-if="form.isread == 0" style="font-weight:bold; margin-left: 25%;">{[{form.send}]}</span>
                      <span ng-if="form.isread == 1" style="margin-left: 25%;">{[{form.send}]}</span>

                    </div>
                    
                    <div style="width: 40%">
                      <span ng-if="form.status == 0" style="color:#4073A5; font-weight:bold;">{% trans %}pending_form{% endtrans %}</span>
                      <span ng-if="form.status == 1" style="color:#389C97; font-weight:bold;">{% trans %}approved_form{% endtrans %}</span>
                      <span ng-if="form.status == 2" style="color:#8A2278; font-weight:bold;">{% trans %}rejected_form{% endtrans %}</span>
                    </div>
                    <div ng-if="form.status == 0">
                        <md-button style="width: 10%" class="md-raised md-secondary" ng-click="deleteForm($event, form)" ng-if="form.status == 0">X</md-button> <!--sustituir por el icono de abajo-->
                    </div>

                </md-list-item>
    
                <md-divider></md-divider>
            </div>
        </md-list>
        <div layout="column" style="margin-left: 50px; margin-right: 0px;">
          <div class="radioButtonList">
              <p>Select a form type:</p>
              <md-radio-group ng-model="filters.formType">
                  <md-radio-button value="All" class="md-primary">All</md-radio-button>
                  <md-radio-button value="Vacation" class="md-primary">Vacation</md-radio-button>
                  <md-radio-button value="Expenses" class="md-primary">Expenses</md-radio-button>
                  <md-radio-button value="BusinessTrip" class="md-primary">Business Trip</md-radio-button>
                  <md-radio-button value="OvertimeHours" class="md-primary">Overtime hours</md-radio-button>
                  <md-radio-button value="WorkAtHome" class="md-primary">Work at home</md-radio-button>
              </md-radio-group>
          </div>
          <div class="radioButtonList">
              <p>Select a form status:</p>
              <md-radio-group ng-model="filters.formStatus">
                  <md-radio-button value="3" class="md-primary">All</md-radio-button>
                  <md-radio-button value="1" class="md-primary">Accepted</md-radio-button>
                  <md-radio-button value="2" class="md-primary">Rejected</md-radio-button>
                  <md-radio-button value="0" class="md-primary">Pending</md-radio-button>
              </md-radio-group>
          </div>
        </div>
    </md-content>
</div>

{% endblock %}
