{% extends 'intranetBundle::layout.html.twig' %}

{% block contenido %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script>
    var app=angular.module('settingsApp', ['ngMaterial']);
    app.controller('settingsController', settingsController);

    function settingsController ($scope,$http ) {
       var userLogin = ("{{me.login | json_encode()}}").replace(/&quot;/g, "");

       $scope.getCurrentUser = function(){

            $http({
                method: 'GET',
                url: window.location.pathname+'/../../api/user/'+userLogin,
                dataType: 'json',
                headers: {'Content-Type': 'application/json'}
            })
            .then(function success(response){

                $scope.user = response.data;
                console.log($scope.user);
            }, function error(response){
                console.log("Error:" +response.statusText);
            });
        }


    }

    app.config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

</script>

<div ng-app="settingsApp" ng-controller="settingsController" layout="row" layout-align="center start">
    <form name="settingsForm" id="settingsForm" method="POST" action="javaScript:handleClick()" novalidate>
    <!--{{ path('intranet_cruduser') }}-->

    <md-content ng-init="getCurrentUser()">
        <md-list layout="column" ng-cloak="">
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Name{% endtrans %}</label>
                        <input type='text' name="myName" id="myName" ng-model="user.name" required="required">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify a seller.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Surname{% endtrans %}</label>
                        <input type='text' id="mySurname" name="mySurname" ng-model="user.surname">

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify a seller.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>
        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Language{% endtrans %}</label><br><br>
                        <md-radio-group ng-model="user.lang" >
                            <md-radio-button id="myLanguage" name="myLanguage" value="es" class="md-primary">
                                ES
                            </md-radio-button>

                            <md-radio-button id="myLanguage" name="myLanguage" value="en" class="md-primary">
                                EN
                            </md-radio-button>

                            <md-radio-button id="myLanguage" name="myLanguage" value="fr" class="md-primary">
                                FR
                            </md-radio-button>

                            <md-radio-button id="myLanguage" name="myLanguage" value="de" class="md-primary">
                                DE
                            </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Notifications{% endtrans %}</label><br><br>
                        <md-checkbox ng-model="user.notifications" id="myNotifications" aria-label="Checkbox 1" class="md-primary">
                            {% trans %}Recibir Notificaciones{% endtrans %}
                        </md-checkbox>
                    </md-input-container>
                </md-list-item>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>Onboard</label><br><br>
                        <md-checkbox ng-model="user.onboard" id="onb" aria-label="Checkbox 2" class="md-primary">
                            {% trans %}Usuario nuevo{% endtrans %}
                        </md-checkbox>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>

        <md-list-item layout-lg="row" layout-xl="row">
            <md-input-container class="md-block">
                <label>{% trans %}Photo{% endtrans %}</label><br>
                <!--<md-button type="file" for="myPhoto" class="md-raised md-primary">AQUI
                </md-button>-->
                <input type='file' id="myPhoto" name="myPhoto"  style="width: 250px;"><img src="{{ me.photo }}"><!--class="ng-hide"-->
            </md-input-container>
        </md-list-item>

        <div layout="row" layout-sm="column">
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Email{% endtrans %}</label>
                        <input type='text' name="myEmail" id="myEmail" ng-model="user.email" required="required" style="width: 250px;" readonly>

                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify an email.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
            <div flex>
                <md-list-item layout-lg="row" layout-xl="row">
                    <md-input-container class="md-block">
                        <label>{% trans %}Login{% endtrans %}</label>
                        <input type="text" name="myLogin" id="myLogin" value="{{ me.login }}" readonly>
                        <div ng-messages="expensesForm.seller.$error">
                            <div ng-message="required">You have to specify an email.</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </div>
        </div>

        <md-list-item>
            <md-button class="md-raised md-primary" id="subm" type="submit" name="update" ng-disabled="settingsForm.$invalid">
                {% trans %}Modify{% endtrans %}
            </md-button>
            <md-button class="md-raised md-primary" id="subm" type="submit" name="delete" ng-disabled="settingsForm.$invalid">
                {% trans %}Delete{% endtrans %}
            </md-button>
        </md-list-item>

        <input type="hidden" value="{{ me.id }}" name="id">
        <input type="hidden" id="hiden1" value="{[{ notific }]}">
        <input type="hidden" id="hiden2" value="{[{ languages }]}">
        </md-list>
    </form>
</div>

{% endblock %}
