{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="taskStyles.css">
<!--        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> this librariy is loaded in the header (layout.html.twig), so is not needed here -->
        <script src="moment.min.js"></script>
<!--
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script> 
-->
        <script>
            var app = angular.module('MyApp',['ngRoute', 'ngMaterial', 'ngMessages', 'material.svgAssetsCache', 'ngMdIcons']);
            app.config(function($interpolateProvider){
                $interpolateProvider.startSymbol('{[{').endSymbol('}]}');});
            app.controller('tasksController', tasksController);
            app.controller('updateTaskDialogController', updateTaskDialogController);
            app.controller('createTaskDialogController', createTaskDialogController);
            
            function tasksController($scope, $mdDialog, $http){
                var dataFromServer = ("{{listTasks | json_encode()}}").replace(/&quot;/g, "");
                
                dataFromServer = dataFromServer.replace("[[", "");
                dataFromServer = dataFromServer.replace("]]", "");
                dataFromServer = dataFromServer.split("],[");
                
                $scope.userRol = "asd";//("{{rol | json_encode()}}").replace(/&quot;/g, "");
                $scope.userLogin = ("{{userLogin | json_encode()}}").replace(/&quot;/g, "");
                
                $scope.tasks = [];
                
                $scope.isLoading = false;
                
                for (var i = 0; i < dataFromServer.length; i++){
                    $scope.tasks.push(dataFromServer[i].split(','));
                }
                
                //TaskTemplates/mainDialogTask.tmpl.html
                $scope.showUpdateTaskDialog = function(ev, task) {
                    
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_main_task_dialog2')}}",
                        locals: {
                            currentTask: task,
                            rol: $scope.userRol
                        }, 
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: updateTaskDialogController,
                        onRemoving: ($scope.userRol != "developer") ? $scope.getAllTasks : null
                    });
                }
                
                $scope.showCreateTaskDialog = function(ev) {
                    
                    $mdDialog.show({
                        templateUrl: "{{path('intranet_main_task_dialog2')}}",
                        parent: angular.element(document.body),
                        targetEvent: ev,
                        clickOutsideToClose: true,
                        controller: createTaskDialogController
                    });
                }
                
                $scope.getTasksOfUser = function(){
                    
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/users/'+$scope.userLogin+'/tasks',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        $scope.tasksList = response.data;
                        console.log($scope.tasksList);
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                }
                
                $scope.getAllTasks = function(){
                    
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/tasks',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        $scope.tasksList = response.data;
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                }
                
                $scope.deleteTask = function(taskId){
                    
                     $http({
                        method: 'DELETE',
                        url: window.location.pathname+'/../../api/tasks/'+taskId,
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                         $scope.getAllTasks();
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                }
                
                
            }
            
            function createTaskDialogController($scope, $mdDialog, $http){
                
                $scope.getInfo = function(){
                    
                    //AJAX call requesting all users in the database with the field "onboard" set to "true".
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/users/all/onboard',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        $scope.allUsers = response.data;
                        
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };
                
                $scope.closeDialog = function() {
                    $mdDialog.hide();
                };
            }
            
            function updateTaskDialogController($scope, $mdDialog, $http, currentTask, rol){
                
                $scope.userRol = rol;
                $scope.task = currentTask;
                $scope.loading = false;
                
                $scope.getInfo = function(){
                    
                    //AJAX call requesting the task info, its list of users and the list of all users in the database.
                    $http({
                        method: 'GET',
                        url: window.location.pathname+'/../../api/tasks/'+$scope.task.id+'/users',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        $scope.allData = {
                            "taskData": response.data.taskData,
                            "taskUsers": $.map(response.data.usersInTask, function(elem){return elem.login}),
                            "allUsers": response.data.allUsers
                        };
                        console.log($scope.allData.taskData);
                        $scope.allUsers = $scope.allData.allUsers;
                        $scope.usersInTaskShownToDeveloper = $scope.allData.allUsers.filter(function(user){
                            
                            if (($scope.allData.taskUsers).indexOf(user.login) > -1)
                                return user;
                        });
                        
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };
                
                $scope.closeDialog = function() {
                    $mdDialog.hide();
                };
                
                $scope.alreadyIn = function(user){
                    
                    return ($scope.allData.taskUsers).indexOf(user.login) > -1;
                };
                
                $scope.toggle = function(user){
                 
                    var index = ($scope.allData.taskUsers).indexOf(user.login);
                    
                    if (index > -1)
                        ($scope.allData.taskUsers).splice(index, 1);
                    else
                        ($scope.allData.taskUsers).push(user.login);
                };
                
                $scope.update = function($id){
                        
                    $scope.loading = true;
                    
                    $http({
                        method: 'PATCH',
                        url: window.location.pathname+'/../../api/tasks/'+$id,
                        data: {
                            title: $scope.allData.taskData[0].title,
                            content: $scope.allData.taskData[0].content,
                            usersInTask: $scope.allData.taskUsers
                        },
                        contentType: 'application/json',
                        dataType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    })
                    .then(function success(response){
                        
                        //TODO
                        /*if("error de validación")
                            //toast informando del error
                        else*/
                            $scope.closeDialog();
                    }, function error(response){
                        console.log("Error:" +response.statusText);
                    });
                };
                
                //DEPRECATED
                //Used to update the task by submit.
                $scope.update2 = function(){
                    var input = $(document.createElement("input"));
                    input.attr('type', 'hidden')
                        .attr('name', "users")
                        .attr('value', $scope.allData.taskUsers);
                    $("#taskUpdateForm").append(input);//('<input type="hidden" name="users" value="'+$scope.allData.taskUsers+'">');
                    $("#taskUpdateForm").submit();
                };
            }
            
            
        </script>
<script>
    
    var prueba;
    //prueba.push({#% for task in listTasks %#}'{#task#}'{#% endfor %#});
    //prueba = JSON.parse({{listTasks | json_encode()}});
    prueba = "{{listTasks | json_encode()}}";
    //var kis = $.map(prueba, function(el) { return el });
    prueba = prueba.replace(/&quot;/g, "");
    console.log(prueba);
</script>

<div ng-cloak ng-app="MyApp" ng-controller="tasksController" ng-init="userRol == 'developer' ? getTasksOfUser() : getAllTasks()">
    
    <md-list>
        <md-button class="md-raised md-primary" ng-click="showCreateTaskDialog($event)" ng-if="userRol != developer">New Task</md-button>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <md-list-item style="font-size: large" ng-model="prueba">
            <span style="width: 15%">Title</span>
            <span style="width: 60%">Description</span>
            <span style="width: 15%">Owner</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <div ng-repeat="task in tasksList track by $index">
            <md-list-item ng-click="showUpdateTaskDialog($event, task)">
    <!--
                <span style="width: 15%">{[{task[1]}]}</span>
                <span style="width: 70%">{[{task[2]}]}</span>
                <span style="width: 15%">{[{task[3]}]}</span>
    -->
                <span style="width: 15%">{[{task.title}]}</span>
                <span style="width: 60%">{[{task.content}]}</span>
                <span style="width: 15%">{[{task.who_create}]}</span>
                <div>
                    <md-button style="width: 10%" class="md-raised md-secondary" ng-click="deleteTask(task.id)" ng-if="userRol != 'developer'">X</md-button> <!--sustituir por el icono de abajo-->
                </div>
            
            </md-list-item>
<!--            <md-icon md-svg-src="/es/ic_delete_black_24px.svg" aria-label="android "></md-icon>-->
            <md-divider></md-divider>
        </div>
    </md-list>
</div>








{% endblock %}
