{% extends 'intranetBundle::layout.html.twig' %}

{% block contenido %}
<br>
{% trans %}  Welcome {% endtrans %}<br>
<hr><br>

{% trans %}translation{% endtrans %}<br><br><br>
<!-- SOURCE: http://www.iconarchive.com/show/no-patriot-icons-by-mayosoft.html-->
<md-button>
    <label for="files">
       <img class="md-avatar" id="photo" src="{{ asset('bundles/intranet/images/UK-icon.png') }}" style="height: 70px; width: 70px;"/>
    </label>
</md-button>
<a href="{{ path('intranet_translation', {_locale: 'en'}) }}">ENGLISH </a><br>


<md-button>
    <label for="files">
       <img class="md-avatar" id="photo" src="{{ asset('bundles/intranet/images/Espanya-Spain-icon.png') }}" style="height: 70px; width: 70px;"/>
    </label>
</md-button>
<a href="{{ path('intranet_translation', {_locale: 'es'}) }}">SPANISH </a><br>


<md-button>
    <label for="files">
       <img class="md-avatar" id="photo" src="{{ asset('bundles/intranet/images/France-icon.png') }}" style="height: 70px; width: 70px;"/>
    </label>
</md-button>
<a href="{{ path('intranet_translation', {_locale: 'fr'}) }}">FRENCH </a><br>


<md-button>
    <label for="files">
       <img class="md-avatar" id="photo" src="{{ asset('bundles/intranet/images/Deutschland-Germany.png') }}" style="height: 70px; width: 70px;"/>
    </label>
</md-button>
<a href="{{ path('intranet_translation', {_locale: 'de'}) }}">GERMAN </a><br>

{% endblock %}
