{% extends 'intranetBundle::layout2.html.twig' %}

 {% block contenido %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="moment.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script> 


<div ng-controller="AppCtrl" layout-fill="" layout="column" class="inset toastdemoBasicUsage" ng-cloak="" paddi="" ng-app="MyApp" ng-init="showSimpleToast()">
</div>
<script>
      var app = angular.module('MyApp',['ngRoute', 'ngMaterial', 'ngMessages', 'material.svgAssetsCache', 'ngMdIcons']);
      app.controller('AppCtrl', AppCtrl);
            
            
      function AppCtrl($scope, $mdToast){
          var last = {
            bottom: false,
            top: true,
            left: false,
            right: true
          };

          $scope.toastPosition = angular.extend({},last);

          $scope.getToastPosition = function() {
            //sanitizePosition();
            return Object.keys($scope.toastPosition)
              .filter(function(pos) { return $scope.toastPosition[pos]; })
              .join(' ');
          };      

          $scope.showSimpleToast = function() {//this.showSimpleToast
            var pinTo = $scope.getToastPosition();
            $mdToast.show(
              $mdToast.simple()
                .textContent('{% trans %}you dont exist{% endtrans %}
                              {% trans %}creating on database{% endtrans %}')
                .position(pinTo )
                .hideDelay(10000)
            );
          };
      }
</script>
<br><br>
<div class="container">
    <div class="row" style="margin-top: 5%;">
        <div class="col-sm-6 col-md-4 col-md-offset-4" >
            <div class="account-wall">
                <img class="profile-img" src="" alt="">
                <form class="form-signin" action="{{ path('intranet_nonExistingUser')}}" method="post">
                  <label class="control-label">{% trans %}Hello{% endtrans %} {{name}} {{ surname }}</label><br>

                  Login: <input type='text' name="myLogin" id="myLogin" value="{{login}}" class="form-control" readonly>
                  {% trans %}Name{% endtrans %} <input type='text' name="myName" id="myName" value="{{name}}" class="form-control" readonly>
                  {% trans %}Surname{% endtrans %} <input type='text' id="mySurname"name="mySurname" value="{{surname}}" class="form-control" readonly><BR>
                  {% trans %}Email{% endtrans %} <input type='text' id="myEmail"name="myEmail" value="{{email}}" class="form-control" readonly><BR>
                  <label>{% trans %}Language{% endtrans %}</label>
                        <select class="form-control" name="myLang">
                          <option value="es">ES</option>
                          <option value="en">EN</option>
                          <option value="fr">FR</option>
                          <option value="de">DE</option>
                        </select>
                  <BR>
                  <label>{% trans %}Photo{% endtrans %}</label><input type='file' id="myPhoto"name="myPhoto"><img src=""><BR>
                  <label class="radio">{% trans %}Notifications{% endtrans %}</label>
                                  <input type='radio' id="myNotification" name="myNotifications" value="1"><label for="myNotification">ON</label>
                                  <input type='radio' id="myNotifications" name="myNotifications" value="0"   checked ><label for="myNotifications">OFF</label><br>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">
                      Sign in
                  </button>
                  
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
